:global{
    .dayrecommend{
        width:100%;
        height: 100%;
    }
    .dr_header,.play_tit{
        widows: 100%;
        height:50px;
        background: #353A3C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:#fff;
        padding:0 10px;
        img{
            width:20px;
            height:20px;
            margin-right:10px;
        }
    }
    .dr_img{
        width:100%;
        height:150px;
        img{
            width:100%;
            height:100%;
        }
    }
    .play_tit{
        background: #fff;
        border-bottom:1px solid #ccc;
        color:#000;
    }
}