:global{
    .login{
        width:100%;
        height:auto;
        text-align: center;
        p{
            width: 90%;
            height:40px;
            border-radius: 30px;
            border:1px solid red;
            text-align: center;
            line-height: 40px;
            a{
                color:red;
            }
        }
    }

}